{% extends 'layout.html'%}
{% load static%}
{% load humanize %}
{% block content%}
<div class="container">
    <div class="row my-3">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{product.image.url}}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{product.get_url}}">{{product.name}}</a>
                    </h4>
                    <h5>${{product.price|intcomma}}</h5>
                    <p class="card-text">{{product.description}}
                    </p>
                </div>
                <div class="card-footer">
                    <h3><small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small></h3>
                    {% if product.stock <= 0 %}
                        <h2><p class ="text-danger">สินค้าหมด</p></h2>
                    {% else %}
                        <a href="{%url 'addCart' product.id %}" class="btn btn-primary">เพิ่มสินค้าลงตะกร้า</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}