{% extends 'layout.html'%}
{% load humanize %}
{% block content%}
<div class="container">
    <div class="row"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card mt-4">
            <img class="card-img-top img-fluid" src="{{product.image.url}}" alt="">
            <div class="card-body">
              <h3 class="card-title">{{product.name}}</h3>
              <h4>${{product.price|intcomma}}</h4>
              <p class="card-text">{{product.description}}</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
              <div class="card-footer">
                <h3><small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small></h3>
                {% if product.stock <= 0 %}
                    <h2><p class ="text-danger">สินค้าหมด</p></h2>
                {% else %}
                    <a href="{%url 'addCart' product.id %}" class="btn btn-primary">เพิ่มสินค้าในตะกร้า</a>
                {% endif %}
            </div>
            </div>
          </div>
  </div>
</div>
{% endblock %}